body{
    text-align: center;
    background: #51A991;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2vw;
}

h1{
    color: #E0F8F1;
    font-weight: 100;
    font-size: 3em;
    margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    text-align: center;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #309378;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #0A6B50;
    display: inline-block;
    font-size: 3em;
}

.smalltext{
    padding-top: 5px;
    font-size: 0.75em;
}
